<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>动漫大全_最新动漫在线观看-咪咕圈圈官方网站(原咪咕动漫)</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/frames.css">
	<link rel="stylesheet" type="text/css" href="css/cartoon.css">
	<script src="js/vue.js"></script>
	<script src="js/list.js"></script>
	
</head>
<body>
	<!--头部开始-->
	<header class="headerTop">
		<div class="wrapper headerSarech clearfix">
			<div class="left">
				<h1 class="left_logo" >
					<a href="Javascript:void(0)">
						<img src="images/logo.png" alt="">
					</a>
				</h1>
				<form action="#" method="get">
					<div class="search">
						<input type="text" placeholder="视频, 漫画, 小说の传送门" >
						<i class="searchImg">
							<a href="#">
								<img src="images/search.png" alt="">
							</a>
						</i>
					</div>
					<div class="migucplan">
						<a href="Javascript:void(0)">
							<img src="images/migucplanLogo.png" alt="">
						</a>
					</div>
				</form>
			</div>
			<div class="right">
				<ul class="userlogin">
					<li><a href="login.html">登录</a></li>
					<li><a href="register.html">注册</a></li>
				</ul>
				<ul class="client">
					<li><a href="">收藏</a></li>
					<li><a href="">历史</a></li>
					<li>
						<a href="">
							<i>
								<img src="images/detailTelBg.png" alt="">
							</i>
							客户端
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="headerNav">
			<div class="wrapper">
				<nav class="clearfix">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="cartoon.html">漫画</a></li>
						<li><a href="animation.html">动画</a></li>
						<li><a href="Javascript:void(0)">视频</a></li>
						<li><a href="classify.html">分类</a></li>
						<li><a href="Javascript:void(0)">次元偶像</a></li>
						<li><a href="Javascript:void(0)">圈子</a></li>
					</ul>
					<div class="contribute" >
						<a href="Javascript:void(0)">
							投稿
							<i><img src="images/arrowDown.png" alt=""></i>
						</a>
						<div class="hidden" >
							<ul>
								<li><a href="Javascript:void(0)">动漫投稿</a></li>
								<li><a href="Javascript:void(0)">视频投稿</a></li>
								<li><a href="Javascript:void(0)">视频投稿管理</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--隐藏导航栏-->
	<header id="headerHidden">
		<div class="wrapper clearfix">
			<div class="nav">
				<a href="index.html">首页</a>
				<a href="cartoon.html">漫画</a>
				<a href="ainimation.html">动画</a>
				<a href="Javascript:void(0)">视频</a>
				<a href="classify.html">分类</a>
				<a href="Javascript:void(0)">次元偶像</a>
				<a href="Javascript:void(0)">圈子</a>
			</div>
			<div class="search">
				<form action="#" method="get">
					<div>
						<input type="text" placeholder="视频, 漫画, 小说の传送门" >
						<i class="searchImg">
							<a href="#">
								<img src="images/search.png" alt="">
							</a>
						</i>
					</div>
				</form>
			</div>
			<div class="right">
				<ul class="login">
					<li><a href="login.html">登录</a></li>
					<li><a href="register.html">注册</a></li>
				</ul>
				<ul class="collection" >
					<li><a href="Javascript:void(0)">收藏</a></li>
					<li><a href="Javascript:void(0)">历史</a></li>
					<li><a href="Javascript:void(0)">客户端</a></li>
					<li>
						<a href="Javascript:void(0)">
							<img src="images/migucplan.png" alt="">
						</a>
					</li>
					<li>
						<a href="Javascript:void(0)">
							投稿
							<i>
								<img src="images/iconArrowDownWhite.png" alt="">
							</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	
	<div class="headBox wrapper clearfix">
		<div class="headBox_hot">
			<div class="title" >热门作品</div>
			<dl class="clearfix">
				<dd><a href="Javascript:void(0)">黑海新娘</a></dd>
				<dd><a href="Javascript:void(0)">夜天子</a></dd>
				<dd><a href="Javascript:void(0)">疾行</a></dd>
				<dd><a href="Javascript:void(0)">剃头匠</a></dd>
				<dd><a href="Javascript:void(0)">我的青蛙不王子</a></dd>
				<dd><a href="Javascript:void(0)">山海记</a></dd>
				<dd><a href="Javascript:void(0)">九天星辰诀</a></dd>
				<dd><a href="Javascript:void(0)">狐妖小红娘</a></dd>
				<dd><a href="Javascript:void(0)">国王万岁</a></dd>
				<dd><a href="Javascript:void(0)">大耳查布</a></dd>
				<dd><a href="Javascript:void(0)">麒麟臂少女</a></dd>
			</dl>
		</div>
		<div class="headBox_type">
			<ul class="clearfix" >
				<li><a href="Javascript:void(0)">完结</a></li>
				<li><a href="Javascript:void(0)">连载</a></li>
				<li><a href="Javascript:void(0)">热血</a></li>
				<li><a href="Javascript:void(0)">搞笑</a></li>
				<li><a href="Javascript:void(0)">情感</a></li>
				<li><a href="Javascript:void(0)">玄幻</a></li>
				<li><a href="Javascript:void(0)">校园</a></li>
				<li><a href="Javascript:void(0)">科幻</a></li>
				<li><a href="Javascript:void(0)">悬疑</a></li>
				<li><a href="Javascript:void(0)">古风</a></li>
				<li><a href="Javascript:void(0)">都市</a></li>
				<li><a href="Javascript:void(0)">怀旧</a></li>
				<li><a href="Javascript:void(0)">武侠</a></li>
				<li><a href="Javascript:void(0)">恐怖</a></li>
				<li><a href="Javascript:void(0)">萌系</a></li>
				<li><a href="Javascript:void(0)">运动</a></li>
				<li><a href="Javascript:void(0)">咨询</a></li>
				<li>
					<a href="Javascript:void(0)">
						<i><img src="images/allMenu.png" alt=""></i>
						全部
					</a>
				</li>
			</ul>
		</div>
	</div>


	<!--主体-->
	<main class="index_main">
		<!-- 轮播 -->
		<div class="mainTop clearfix wrapper ">
			<div class="mainTopLeft clearfix">
				<div class="slideBox clearfix">
					<div class="chief">
						<ul id="slideBox">
							<li><a href="Javascript:void(0)">
									<img src="images/cartoon/ct_bn_2.jpg"  title="末日危途" alt="">
								</a>
							</li>
							<li><a href="Javascript:void(0)">
									<img src="images/cartoon/ct_bn_3.jpg"  title="戮骨令" alt="">
								</a>
							</li>
							<li><a href="Javascript:void(0)">
									<img src="images/cartoon/ct_bn_4.jpg" title="黑暗血时代" alt="">
								</a>
							</li>
							<li><a href="Javascript:void(0)">
									<img src="images/cartoon/ct_bn_5.jpg" title="新作专题"  alt="">
								</a>
							</li>
							<li><a href="Javascript:void(0)">
									<img src="images/cartoon/ct_bn_6.jpg" title="漫改征集"  alt="">
								</a>
							</li>
						</ul>
					</div>
					<div class="list">
						<ul>
							<li class="on"></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<a href="Javascript:void(0)" class="left" ><</a>
					<a href="Javascript:void(0)" class="right" >></a>
				</div>
			</div>
			<div class="mainTopRight">
				<ul class="imgList clearfix">
					<li class="list">
						<a href="Javascript:void(0)">
							<img src="images/cartoon/bn_1.jpg" alt="">
							<div class="hover">
								<div class="imgText">
										<p>名将逆天</p>
									</div>
								<div class="mask">
									<p class="m1">名将逆天</p>
									<p class="m2">当嬴政遇上张良……</p>
									<p class="m3"><i></i>6.347.5万</p>
								</div>
							</div>
						</a>
					</li>
					<li class="list">
						<a href="Javascript:void(0)">
							<img src="images/cartoon/bn_2.jpg" alt="">
							<div class="hover">
								<div class="imgText">
										<p>十二起源</p>
									</div>
								<div class="mask">
									<p class="m1">十二奇缘</p>
									<p class="m2">满池星光,掩不住你的光芒</p>
									<p class="m3"><i></i>1.747.5万</p>
								</div>
							</div>
						</a>
					</li>
					<li class="list">
						<a href="Javascript:void(0)">
							<img src="images/cartoon/bn_3.jpg" alt="">
							<div class="hover">
								<div class="imgText">
										<p>无心幻异录</p>
									</div>
								<div class="mask">
									<p class="m1">无心幻异录</p>
									<p class="m2">玄幻大陆的生存法则……</p>
									<p class="m3"><i></i>5.244.2万</p>
								</div>
							</div>
						</a>
					</li>
					<li class="list">
						<a href="Javascript:void(0)">
							<img src="images/cartoon/bn_4.jpg" alt="">
							<div class="hover">
								<div class="imgText">
										<p>命运会之爱与激斗</p>
									</div>
								<div class="mask">
									<p class="m1">命运会之爱与激斗</p>
									<p class="m2">早安,黑无常先生</p>
									<p class="m3"><i></i>2.5亿</p>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 下方主体 -->
		<div class="mainBody clearfix wrapper">
			<!-- 今日更新 -->
			<div class="updata">
				<div class="title">
					<h2>今日更新，速速围观！<a href="#">还要更多<span class="lt"></span></a></h2>
				</div>
				<div class="upmain"></div>
			</div>
			<!-- 今日更新 -->
			<section class="todaybox">
				<div class="todayLf">
					<p class="p1">
						<img src="images/cartoon/todayLf.jpg">
					</p>
					<p class="p2">
						致命呼救
					</p>
					<p class="p3">
						<span>都市</span>
						<span>恐怖</span>
						<span>悬疑</span>
					</p>
					<p class="p4">
						屌丝小君的不屌丝之路！你能不能看清楚真正的真相。漫画讲述的是，屌丝男青年于小君无意中卷入了由呼救短信引起的重大杀人事件，小君和身边的人陷入了前所未有危险之中，在和...
					</p>
					<p class="p5">
						<span><i></i>与鹿文化</span>
					</p>
					<p class="p6">
						<span><i></i>908.5万</span>
					</p>
					<p class="p7">
						更新至<a href="#">57话</a>
					</p>
					<a href="#">开始观看</a>
				</div>
				<div class="todayRi">
					<ul>
						<a href="#">
						<li class="item" v-for="(item,index) in list" :key="index">
							
								<div class="item-img">
									<img :src="item.src" >
								</div>
								<p class="title">{{item.title}}</p>
							
							<div class="gx">
								<a href="#"><p>{{item.gx}}</p></a>
							</div>

						</li>
						</a>
					</ul>
				</div>
			</section>
		<!-- 日韩美港 都在这里！ -->
		<div class="updata">
				<div class="title">
					<h2>日韩美港 都在这里！<a href="#">还要更多<span class="lt"></span></a></h2>
				</div>
				<div class="upmain"></div>
		</div>
		<section class="rhmg">
			<ul>
				<li v-for="(val,index) in rhmg" :key="index">
					<a href="#">
						<img :src="val.src" alt="">
						<p v-html="val.title"></p>
					</a>
					<p>
						<a href="#">玄幻</a>
						<a href="#">科幻</a>
					</p>
				</li>
			</ul>
		</section>
		<!-- 咪咕独家 -->
		<div class="updata">
				<div class="title">
					<h2>咪咕独家,海量作品任你挑!<a href="#">还要更多<span class="lt"></span></a></h2>
				</div>
				<div class="upmain"></div>
		</div>
		<section class="sole">
			<ul>
				<li v-for="item in soleList" :key="item.id">
					<a href="Javascript:void(0)">
						<div><img :src="item.src" :title="item.title"></div>
						<p class="tl">{{item.title}}</p>
						<p>{{item.updata}}</p>
					</a>
				</li>
			</ul>
		</section>
		<!-- 女生必看 -->
		<div class="updata">
				<div class="title">
					<h2>女生必看 我的少女心<a href="#">还要更多<span class="lt"></span></a></h2>
				</div>
				<div class="upmain"></div>
		</div>
		<section class="girl">
			<ul>
				<li v-for="girl in girlList" :key="girl.id">
					<a href="Javascript:void(0)">
						<div><img :src="girl.src" :title="girl.title"></div>
						<p class="tl">{{girl.title}}</p>
						<p><i class="hot"></i>{{girl.heat}}</p>
					</a>
				</li>
			</ul>
		</section>
		<!-- 男生必看 -->
		<div class="updata">
				<div class="title">
					<h2>女生必看 我的少女心<a href="#">还要更多<span class="lt"></span></a></h2>
				</div>
				<div class="upmain"></div>
		</div>
		<section class="boy">
			<ul>
				<li v-for="boy in boyList" :key="boy.id">
					<a href="Javascript:void(0)">
						<div><img :src="boy.src" :title="boy.title"></div>
						<p class="tl">{{boy.title}}</p>
						<p><i class="hot"></i>{{boy.heat}}</p>
					</a>
				</li>
			</ul>
		</section>

		</div>
	</main>
	<!--底部-->
	<footer class="footer">
		<div class="wrapper">
			<div class="footerHead clearfix">
				<div class="footLf">
					<ul class="clearfix">
						<li>
							<a href="Javascript:void(0)">
								<img src="images/phoneBg.png" alt="">
								<p>客户端</p>
							</a>
						</li>
						<li>
							<a href="Javascript:void(0)">
								<img src="images/wxBg.png" alt="">
								<p>微信</p>
							</a>
						</li>
						<li>
							<a href="Javascript:void(0)">
								<img src="images/wbBg.png" alt="">
								<p>微博</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="footCr">
					<p>
						<span>友情链接</span>
						<a href="">和彩印</a> 
						<a href="">和彩漫</a>
						<a href="">金海豚大赛</a>  
						<a href="">更多</a>
					</p>
					<p>
						<span>咪咕圈圈</span>
						<a href="">常见问题</a> 
						<a href="">招聘英才</a>
						<a href="">帮助与客服</a>  
						<a href="">网站地图</a>
					</p>
					<p>
						<span>商务合作</span>
						<a href="">合作伙伴招募</a> 
						<a href="">合作服务</a>
						<a href="">版权投诉</a>  
						<a href="">隐私政策</a>
					</p>
				</div>
				<dic class="footRi">
					<p>净网2018，扫黄打非！</p>
					<p>违法不良信息举报电话：444-444-4444</p>
					<p>违法不良信息举报邮箱：961805080@qq.com</p>
				</dic>
			</div>
			<div class="footerBtm">
				<div>闽网文[2017]4599-068号 |闽公网安备 35020302024625号 | 闽ICP备15009691号</div>
				<div>咪咕圈圈5.0.180830  Copyright©2010-2018 咪咕动漫有限公司版权所有</div>
			</div>
		</div>
	</footer>
<script src="js/cartoon.js"></script>
</body>
	<script>

	</script>
</html>